/*
title bar colors:
rgb(51, 43, 94);
rgb(36, 152, 123)
rgb(1, 89, 161)

*/

* {
        font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.PlanCard {
        border: 1px solid rgba(165, 165, 165, 0.575);
        width: 50%;
        margin: 10px auto;
}

.PlanTitle {
        margin-top: 0;
        padding: 10px;
        width: 100%;
        background-color: rgb(51, 43, 94);
        color: #fff;
        box-sizing: border-box;
}

.Description,
.Price,
.PackageType,
.Section,
.BestSellers {
        padding: 0 10px;
}
